.bank {       
    height: 100vh;
    background: var(--background);

    @media (max-width: 800px) {
        height: auto;
        
        padding-bottom: 2rem;
    }

    .cardDetails {
        width: 90%;
 
        margin: 0.8rem 0 2rem 5.2rem;
        border-radius: 8px;

        background: var(--white);

        @media (max-width: 1000px) {
            width: 80%;
            height: auto;
            margin: 0 0 0 3rem;
        }

        > h1 {
            padding-top: 1.5rem;
            padding-left: 1.5rem;

            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: var(--gray-900);
        }

        .bankInformation {
            display: flex;
            flex-direction: row;
            justify-self: center;

            margin-top: 1.5rem;

            @media (max-width: 1000px) {
                flex-direction: column;
                margin: 0;
            }

            p {
                width: 20%;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1rem;
                
                color: var(--dark);

                margin-right: 12.5rem;
                padding-left: 1.5rem;

                @media (max-width: 1000px) {
                    width: 100%;
                    margin: 0.5rem 0;
                }
            }

            .verticalLine {
                width: 1px;
                height: 10vh;

                background: var(--gray-200);
            }

            .bankCode {
                display: flex;
                flex-direction: row;

                @media (max-width: 1000px) {
                    flex-direction: column;
                }

                p {
                    margin: 0 0 0 3rem;

                    @media (max-width: 1000px) {
                        margin: 0.5rem 0;
                    }
                }
            }
        }

        .horizontalLine {
            width: 95%;
            height: 1px;

            margin-left: 1.5rem;
            margin-top: 2.25rem;

            background: var(--gray-200);
        }

        
    .textDetails {
        margin-left: 1.5rem;

        > h1 {
            margin-top: 1rem;

            font-size: 0.75rem;
            font-weight: 700;
            line-height: 1rem;

            color: var(--dark);
        }

        > p {
            width: 90%;

            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;

            color: var(--gray-900);
        }
    }
    }
}
