* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Red Hat Display, sans-serif;
}

button {
    cursor: pointer;
}

:root {
    --gray-900: #474F63;
    --gray-700: #6E778D;
    --gray-500: #B3B9C9;
    --gray-300: #C6CAD6;
    --gray-200: #CED4DE;
    
    --background: #E5E5E5;

    --blue-500: #117DF9;
    --primary: #0EC3A3;

    --dark: #3B3F49;
    --white: #FFF;
}